@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  @apply duration-100;
}

@theme {
  /* typography */
  --font-abhaya-libre: 'Abhaya Libre', serif;
  --font-inter: 'Inter', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-spectral: 'Spectral', serif;
  --font-lato: 'Lato', sans-serif;
  --font-raleway: 'Raleway', sans-serif;

  /* colors */
  /* primary colors */
  --color-dark-blue: #187aba;
  --color-red-custom: #f35248;
  --color-salmon-custom: #db9291;
  --color-dark-aqua: #277b71;
  --color-dark-purple: #854da0;
  --color-dark-cyan: #007d91;
  --color-dark-red: #c53d40;
  --color-dark-green: #128035;

  /* retro theme */
  --color-retro-base: #ece3ca;
  --color-retro-accent: #e4d8b4;
  --color-retro-darker: #dacb9a;
  --color-retro-content: #282425;

  /* luxury theme */
  --color-luxury-base: #1b1b1b;
  --color-luxury-accent: #1e1e1e;
  --color-luxury-darker: #0f0f0f;
  --color-luxury-content: #ffffff;

  /* light theme */
  --color-light-base: #ffffff;
  --color-light-accent: #f1f5f9;
  --color-light-darker: #e2e8f0;
  --color-light-content: #64748b;
  --color-light-content-darker: #334155;

  /* dark theme */
  --color-dark-base: #0f172a;
  --color-dark-accent: #334155;
  --color-dark-darker: #475569;
  --color-dark-content: #e2e8f0;
  --color-dark-content-lighter: #e2e8f0;

  /* elegant theme */
  --color-elegant-base: #ffffff;
  --color-elegant-accent: #f7f8f8;
  --color-elegant-darker: #f0f1f1;
  --color-elegant-content: #242424;
  --color-elegant-content-darker: #2d3e5b;

  /* pastel theme */
  --color-pastel-base: #ffffff;
  --color-pastel-accent: #f1f5f9;
  --color-pastel-darker: #e2e8f0;
  --color-pastel-content: #64748b;
  --color-pastel-content-darker: #334155;
}

@media print {
  @page {
    /* size: A4 portrait; */
    width: 210mm;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  #resumeResult,
  #resumeResult * {
    visibility: visible;
  }

  #resumeResult {
    width: 210mm;
    height: 297mm;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
