@import 'tailwindcss';

@media print {
  @page {
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    height: 0;
  }

  body * {
    visibility: hidden;
  }

  #resumeResult,
  #resumeResult * {
    visibility: visible;
  }

  #resumeResult {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
