@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@media print {
  @page {
    /* size: A4 portrait; */
    width: 210mm;
    margin: 0;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  #resumeResult,
  #resumeResult * {
    visibility: visible;
  }

  #resumeResult {
    width: 210mm;
    height: 297mm;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: none;
    border-radius: 0;
  }
}
